<div class="container">
  <%= render 'left-side' %>
  <div class="threads-selection">
    <% @threaders.each do |thread| %>
      <%= render 'users/user_info', model: thread%>
    <div class="post-content">
      <p><%= thread.user.name %>さんが「<%= thread.title %>」というスレッドを立てました。</p>
    </div>
    <% end %>
  </div>
</div>
