<div id="comment-index">
  <% thread.threadComments.each do |threadcomment| %>
    <%= render 'users/user_info', model: threadcomment %>
    <div class="comment-content" style="height:50px;">
      <p style="margin-left:80px;"><%= threadcomment.comment %></p>
    </div>
  <% end %>
</div>
