<div class="comment">
  <%= form_tag("/threaders/#{id}/threadcomment", method: :post) do %>
    <%= text_field_tag :threadComment %>
    <%= submit_tag("コメントする", class:"btn btn-primary") %>
  <% end %>
</div>
