/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html,
body,
div.background {
  height: 100%; /* 「div.background」に対してはmin-heightに対応していないブラウザ用 */
  background-color:#d4f1b9;
}

div.background {
  min-height: 100%; /* 最小の高さ */
  width: 300px;
  background: #EFEFEF;
}

body > div.background {
  height: auto; /* 要素を超えた分の背景が伸びないブラウザ用 */
}

p {
  font-family:"ＭＳ 明朝",serif;;
}

.main {
  background-color:#d4f1b9;
  height:100%;
}

.success {
  color:#4ee060;
  text-align:center;
  margin-top:30px;
}
.notice {
  text-align:center;
  color:#d51857;
  margin-top:30px;
}

.error-messages {
  color:red;
}

.error-messages ul {
  display:block;
}

.error-messages li {
  list-style:none;
}

.comment {
  text-align: center;
  position: absolute;
  bottom: 0;
  margin-left:20px;
  margin-bottom:10px;
  position:fixed;
}

#threadComment {
  width: 500px;
  height:50px;
  border: solid 2px #d1d1d1;
  border-radius:2%;
}
