// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  display: flex;
  margin:0 auto;
  position: relative;
}

.left-side {
  border-radius:3%;
}

.posts-section {
  flex:1;
  background-color:white;
  color:black;
  margin-top:50px;
  margin-left:50px;
  border-radius:3%;
}

.left-side {
  background-color:#9fd99a;
  margin-top:50px;
  width:400px;
}

hr {
  color:#83bfa7;
  height:2px;
  size:10px;
}

.post-form {
  display:flex;
  justify-content:center;
  align-items:center;
  margin-top:100px;
}

.post-form .btn {
  margin-top:20px;
}

#temp-elem img {
  display:block;
  margin:auto;
  width:150px;
  height:150px;
  margin-bottom:20px;
}

.uploading p {
  text-align:center;
}

.post-user-info {
  display:flex;
  margin-top:10px;
  margin-left:10px;
}

.post-user-info span {
  font-weight:bold;
}

.post-user-info .post-user-name {
  font-size:20px;
  margin-left:10px;
}

.posted-month {
  color:#c1c3c3;
  margin-left:300px;
}

.posted-time {
  color:#c1c3c3;
}

.post-user-image {
  border-radius:50%;
  width:60px;
  height:60px;
}

.posted-time {
  align-items:center;
}

.post-content {
  margin-top:20px;
}

.post-content {
  margin-left:10px;
}

.posts-section .post-image {
  display:block;
  margin:0 auto;
  margin-bottom:20px;
  border-radius:10%;
}

#img-delete-buttom {
  float:right;
}

.post-show-selection {
  flex:1;
  background-color:white;
  color:black;
  margin-top:50px;
  margin-left:50px;
  border-radius:3%;
}

.post-show-image {
  display:block;
  margin:0 auto;
  margin-top:20px;
}

.post-show-selection .post-show-content {
  margin-top:20px;
  margin-left:30px;
}
