// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  display: flex;
}

.posts-section {
  flex:1;
  background-color:white;
  color:black;
  margin-top:50px;
  margin-left:50px;
}

.side {
  background-color:#88CE6E;
  margin-top:50px;
  width:300px;
}

hr {
  color:#83bfa7;
  height:2px;
  size:10px;
}

.post-form {
  display:flex;
  justify-content:center;
  align-items:center;
  margin-top:100px;
}

.post-form .btn {
  margin-top:20px;
}

#temp-img img {
  width:200px;
  height:100px;
  margin-bottom:20px;
}

.posts-section .post-image {
  margin-bottom:20px;
  border-radius:10%;
}

.post-user-image {
  border-radius:50%;
  width:60px;
  height:60px;
}

.post-content {
  margin-top:20px;
}
